@import '../../../node_modules/foundation-sites/scss/util/util';
@import '../../../node_modules/foundation-sites/scss/global';
@import '../../../node_modules/normalize-scss/sass/normalize';

$global-width: rem-calc(1266);
$grid-column-count: 12;
$grid-column-gutter: (
  small: 10px,
  medium: 10px,
);

@import '../../../node_modules/foundation-sites/scss/grid/grid';
@import '../../../node_modules/foundation-sites/scss/components/flex';

$global-flexbox: true;

@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-global-styles();

@include normalize();

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
  font-family: 'Roboto', sans-serif;
}

@import 'typography';
